[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
numpy = "*"
scikit-learn = "*"
model2vec = "*"
imblearn = "*"
sentence-transformers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
